@model User

@{
    ViewData["Title"] = "FormSubmit";
}


<div class="text-center">
    <h1>Welcome @Model.FirstName @Model.LastName!</h1>
    <a href="/home/ViewProfile" style="text-align: center" >View your profile</a>
</div>



