@{
    ViewData["Title"] = "Home Page";
}




<style>
    .wrapper{
        display: grid;
        grid-template-columns: 1fr 4fr;
    }




</style>


<div class="wrapper">
    <div>

    </div>
    <div>
        <h1 class="display-4">Welcome</h1>
        <a href="/home/Registration">
            <h5>Registration Page</h5>
        </a>
    </div>
    
</div>
