@{
    ViewData["Title"] = "Home Page";
}




<style>
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 10fr 1fr;
        grid-gap: 10px;
        padding-top: 50px;
    }
    
</style>


<div class="wrapper">




    <div></div><div style="font-size: 2rem; font-weight: bold">Welcome to The Coffee Shop Website!</div><div></div>
    <div></div><div style="font-size: 1.5rem; font-style: italic">Located on the World Wide Web!</div><div></div>
    <div></div><a href="/home/Registration">Registration Page</a><div></div>
    <div></div><a href="/product/products">Our Products</a><div></div>



</div>
