@model List<Product>
@{
    ViewData["Title"] = "Products";
}


<style>
    td {
        padding: 5px;
    }


    .wrapper {
        display: grid;
        grid-template-columns: .5fr 2fr 2fr 10fr;
    }

    .prodname {
        font-weight: bold;
    }

    .wrapper > div{
        padding: 3px;
    }
</style>

<h1>Beverages</h1>

<div class="wrapper">


    @foreach (Product prod in Model)
    {

        @if (prod.category == "Beverage")
        {
            <div></div>
            <div class="prodname"><a href="/home/Detail/@prod.productId">@prod.productName</a></div>
            <div>$@prod.price</div>
            <div></div>
        }

    }

</div>

<h1>Pastries</h1>
<div class="wrapper">
    @foreach (Product prod in Model)
    {

        @if (prod.category == "Pastry")
        {
    <div></div>
            <div class="prodname"><a href="/home/Detail/@prod.productId">@prod.productName</a></div>
            <div>$@prod.price</div>
            <div></div>
        }

    }

</div>