

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - The Coffee Shop</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />*@

    <style>
        .headergrid {
            display: grid;
            grid-template-columns: 2fr 1fr 6fr;
            background: #986236;
            grid-column-gap: 10px;
        }

            .headergrid > div {
                height: auto;
                align-self: center;
                font-size: 2rem;
                width: auto;
            }

            .headergrid > div > h1{
                font-size: 2.5rem;
                padding-left: 10px;
            }
    </style>



</head>
<body style="background-color: wheat">
    <header>
        <div class="headergrid">
            <div>
                <h1><a href="/home/" style="text-decoration: none; color: black">The Coffee Shop</a></h1>
            </div>
            <div>
                <a href="/admin/index" style="text-decoration: none; color: black">Admin</a>
            </div>
            <div style="justify-self: end">
                <img src="~/Images/580b57fcd9996e24bc43c550.png" style="height: 100px; margin: 20px;" />
            </div>
        </div>
    </header>

    @RenderBody()


</body>

</html>
